# Exercise 1

### Step 1. Import the pandas library

In [2]:
import pandas as pd

 ### Step 2. Import numpy library

In [3]:
import numpy as np

### Step 3. Use the csv file and assign it to a dataframe called df_beer

`data/drinks.csv`

In [4]:
df_beer = pd.read_csv("data/drinks.csv")

### Step 4. See the first 5 entries

In [5]:
df_beer[:5]

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF

### Step 5. What is the number of observations in the dataset?

In [6]:
len(df_beer)

193

### Step 6. What is the number of columns in the dataset?

In [7]:
len(df_beer.columns)

6

### Step 7. Print the name of all the columns.

In [8]:
col_idx = 1
for col in df_beer.columns:
    print("Column {}: {}".format(col_idx, col))
    col_idx += 1

Column 1: country
Column 2: beer_servings
Column 3: spirit_servings
Column 4: wine_servings
Column 5: total_litres_of_pure_alcohol
Column 6: continent

### Step 8. What is the name of 5th column?

In [9]:
fifth_column_idx = 4
try:
    print("The name of the {}th column is '{}'.".format(fifth_column_idx + 1, df_beer.columns[fifth_column_idx]))
except:
    print("Out of bounds.")

The name of the 5th column is 'total_litres_of_pure_alcohol'.

### Step 9. What is the type of the observations of the 5th column?

In [10]:
try:
    print("The type of the {}th column is '{}'.".format(fifth_column_idx + 1, df_beer.dtypes[fifth_column_idx]))
except:
    print("Out of bounds.")

The type of the 5th column is 'float64'.

### Step 10. What is the country name of the 19th observation?

In [11]:
observation_idx = 18
try:
    print("The country name of the {}th observation is '{}'.".format(observation_idx + 1, df_beer.iloc[observation_idx].country))
except:
    print("Out of bounds.")

The country name of the 19th observation is 'Benin'.