# Ex - GroupBy

### Introduction:

GroupBy can be summarizes as Split-Apply-Combine.

![Diagram](https://i.imgur.com/yjNkiwL.png)  

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from drinks.csv

In [2]:
drinks = pd.read_csv("data/drinks.csv")

### Step 3. Assign it to a variable called drinks.

In [3]:
drinks

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF
...,...,...,...,...,...,...
188,Venezuela,333,100,3,7.7,SA
189,Vietnam,111,2,1,2.0,AS
190,Yemen,6,0,0,0.1,AS
191,Zambia,32,19,4,2.5,AF
192,Zimbabwe,64,18,4,4.7,AF

### Step 4. Which continent drinks more beer on average?

In [4]:
print("{} drinks the most beer in average with a total of {} servings.".format(drinks.iloc[drinks['beer_servings'].idxmax()].country, drinks.iloc[drinks['beer_servings'].idxmax()].beer_servings))

Namibia drinks the most beer in average with a total of 376 servings.

### Step 5. For each continent print the statistics for wine consumption.

In [5]:
wine_servings_per_continent = drinks['wine_servings'].groupby(drinks['continent']) 
print(wine_servings_per_continent.describe())

           count        mean        std  min   25%    50%     75%    max
continent
AF          53.0   16.264151  38.846419  0.0   1.0    2.0   13.00  233.0
AS          44.0    9.068182  21.667034  0.0   0.0    1.0    8.00  123.0
EU          45.0  142.222222  97.421738  0.0  59.0  128.0  195.00  370.0
OC          16.0   35.625000  64.555790  0.0   1.0    8.5   23.25  212.0
SA          12.0   62.416667  88.620189  1.0   3.0   12.0   98.50  221.0

### Step 6. Print the mean alcoohol consumption per continent for every column

In [6]:
alcohol_consumption_per_continent = drinks.groupby(drinks['continent'])

for column in alcohol_consumption_per_continent.groups.keys():
    print("Mean of each column for continent {}: \n".format(column))
    print(alcohol_consumption_per_continent.get_group(column).mean())
    print("\n\n")

Mean of each column for continent AF:

beer_servings                   61.471698
spirit_servings                 16.339623
wine_servings                   16.264151
total_litres_of_pure_alcohol     3.007547
dtype: float64



Mean of each column for continent AS:

beer_servings                   37.045455
spirit_servings                 60.840909
wine_servings                    9.068182
total_litres_of_pure_alcohol     2.170455
dtype: float64



Mean of each column for continent EU:

beer_servings                   193.777778
spirit_servings                 132.555556
wine_servings                   142.222222
total_litres_of_pure_alcohol      8.617778
dtype: float64



Mean of each column for continent OC:

beer_servings                   89.68750
spirit_servings                 58.43750
wine_servings                   35.62500
total_litres_of_pure_alcohol     3.38125
dtype: float64



Mean of each column for continent SA:

beer_servings                   175.083333
spirit_servings                 114.750000
wine_servings                    62.416667
total_litres_of_pure_alcohol      6.308333
dtype: float64

### Step 7. Print the median alcoohol consumption per continent for every column

In [7]:
for column in alcohol_consumption_per_continent.groups.keys():
    print("Median of each column for continent {}: \n".format(column))
    print(alcohol_consumption_per_continent.get_group(column).median())
    print("\n\n")

Median of each column for continent AF:

beer_servings                   32.0
spirit_servings                  3.0
wine_servings                    2.0
total_litres_of_pure_alcohol     2.3
dtype: float64



Median of each column for continent AS:

beer_servings                   17.5
spirit_servings                 16.0
wine_servings                    1.0
total_litres_of_pure_alcohol     1.2
dtype: float64



Median of each column for continent EU:

beer_servings                   219.0
spirit_servings                 122.0
wine_servings                   128.0
total_litres_of_pure_alcohol     10.0
dtype: float64



Median of each column for continent OC:

beer_servings                   52.50
spirit_servings                 37.00
wine_servings                    8.50
total_litres_of_pure_alcohol     1.75
dtype: float64



Median of each column for continent SA:

beer_servings                   162.50
spirit_servings                 108.50
wine_servings                    12.00
total_litres_of_pure_alcohol      6.85
dtype: float64

### Step 8. Print the mean, min and max values for spirit consumption.
#### This time output a DataFrame

In [8]:
data = [[drinks['spirit_servings'].mean(), drinks['spirit_servings'].min(), drinks['spirit_servings'].max()]]
spirit_consumption = pd.DataFrame(data, index = ['Spirit Consumption'], columns=['Mean', 'Min', 'Max'])
spirit_consumption

                         Mean  Min  Max
Spirit Consumption  80.994819    0  438